<div class="font-sans bg-gradient-to-r from-cyan-50 to-blue-50 rounded">
    <!-- <img class="object-contain w-full" [src]=article.imgUrl> -->
    <div class="p-4">
        <div class="py-2">
            <a class="text-gray-900 no-underline" [href]=article.link target="_blank">{{ article.header }}</a>
        </div>
        <figcaption class="font-medium">
            <div class="text-slate-900">
                Source: {{ article.source }}
            </div>
        </figcaption>
    </div>
</div>